body{ margin: 0px;
background-color: rgb(36, 164, 214) ;
}

h1{
    text-align: center;
    color: aliceblue;
}

main{
    background-color: aliceblue; padding: 10px 20px;
    max-width: 500px; min-height: 500px;
    margin: auto;
    border-radius: 30px;
}


#nasc{display: inline-block; padding-right: 13px;
margin-bottom: 10px;}
h4{display: inline-block;}

#sexo{padding-top: -5px;}

input:hover{box-shadow: 1px 1px 1px rgb(8, 158, 196); transition-duration: 0.2s;}